<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-if & v-show</title>
	 <script src="js/vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="button" @click="flag=!flag" value="toggle">
    <!-- v-if 的特点：每次都会重新删除或创建元素 -->
    <!-- v-show 的特点： 每次不会重新进行DOM的删除和创建操作，只是切换了元素的 display:none 样式 -->

    <!-- v-if 有较高的切换性能消耗 -->
    <!-- v-show 有较高的初始渲染消耗 -->

    <!-- 如果元素涉及到频繁的切换，最好不要使用 v-if, 而是推荐使用 v-show -->
    <!-- 如果元素可能永远也不会被显示出来被用户看到，则推荐使用 v-if -->

    <p v-text="msg_if" v-if="flag"></p>
	<p v-text="msg_show" v-if="flag"></p>
  </div>
  <script>
      var vm=new Vue({
	    el:"#app",
		data:{
		  msg_if:"show",
		  msg_show:"if",
		  flag:true
		}
	  });
  </script>
</body>
</html>